.blog-aside {
  float: left;
  width: 25%;
}
.blog-aside__nav {
  padding: 40px 70px 50px 80px;
}
.blog-aside__list {
  margin: 0;
  padding: 0;
  transition: all .5s;
  text-align: right;
}
.blog-aside__item {
  margin: 10px 0;
  padding: 5px 20px 5px 5px;
  list-style: none;
  transition: all .5s;
  &.active {
    transition: all .5s;
    border-right: 2px solid $brand;
    .blog-aside__link {
      transition: all .5s;
      color: $brand;

      @include roboto(bold);
    }
  }
  &:hover {
    .blog-aside__link {
      transition: all .5s;
      color: $brand;

      @include roboto(bold);
    }
  }
}

.blog-aside__link {
  font-size: 16px;
  line-height: 26px;
  transition: all .5s;
  text-decoration: none;
  color: #455a64;

  @include roboto(regular);
}


.blog-article__wrap {
  float: left;
  width: 75%;
  padding: 40px 20% 10px 50px;
}
.blog-article {
  margin-bottom: 50px;
  padding-bottom: 60px;
  border-bottom: 5px solid #ecebe4;
  &:last-child {
    margin-bottom: 10px;
    border-bottom: none;
  }
}
.blog-article__header {
  margin-bottom: 10px;
}
.blog-article__title {
  font-size: 35px;
  margin-bottom: 10px;
  color: #455a64;

  @include sansus(regular);
}
.blog-article__time {
  font-size: 16px;
  color: #083c96;

  @include roboto(regular);
}
.blog-article__body p {
  font-size: 16px;
  line-height: 26px;
  display: inline-block;
  margin: 5px 0;
  color: #455a64;

  @include roboto(regular);
}
.blog-article__pic {
  display: block;
  width: 100%;
  margin: 10px 0;
}
