.welcome {
  background: #223b65 url('../img/bg-welcome.png') 50% 100% no-repeat;
  background-size: contain;
}
.welcome-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 380px;
  min-height: 395px;
  padding: 40px 10px;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(28,31,41,.5);
  &__list {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &__item {
    // display: inline-block;
    float: left;
    list-style: none;
    background-color: $brand;
    &--work {
      width: 41%;
      border-right: 2px solid #7296d2;
    }
    &--about {
      width: 34%;
      border-right: 2px solid #7296d2;
    }
    &--blog {
      width: 25%;
    }

    &:hover {

    background-color: $brand-dark;
    }
  }
  &__link {
    text-decoration: none;
    color: $t-light;
    @include roboto(medium);
    @include font-size(16px);
    padding: 10px 5px;
    display: block;
    &:hover {
    color: $t-light;

    }
  }
}
