footer.page-footer
  .container
    .page-footer__list
      .page-footer__item.banner
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.

      .page-footer__item.nav
        nav.footer-nav
          ul.footer-nav__list
            li.footer-nav__item
              a.footer-nav__link(href="/works.html") Мои работы
            li.footer-nav__item
              a.footer-nav__link(href="/about.html") Обо мне
            li.footer-nav__item
              a.footer-nav__link(href="/blog.html") Блог
            li.footer-nav__item
              a.footer-nav__link(href="index.html") Авторизация
        include ../common/_social-icons

      .page-footer__item.adress
        ul.footer-adress__list
          li.footer-adress__item
            a.footer-adress__link(href="skype:odinokun") odinokun
          li.footer-adress__item
            a.footer-adress__link(href="mailto:odinokun@gmail.com") odinokun@gmail.com
          li.footer-adress__item
            a.footer-adress__link(href="tel://+38 067 123 45 67") +38 (067) 123-45-67
          li.footer-adress__item
            a.footer-adress__link(href="https://goo.gl/maps/pTvUPKYR8932", target="_blank", rel="nofollow noopener noreferrer") г.Киев, ул.Крещатик, д.22


  .page-footer__copyright
    span.page-footer__copyright--text &#169; Дмитрий Гордиенко
    span.page-footer__copyright--text создано с любовью в LoftSchool
    span.page-footer__copyright--text 2016
