ul.social-icons__list
  li.social-icons__item
    //- a(href='https://vk.com/odinokun' target="_blank" rel="nofollow noopener noreferrer").social-icons__link.vk
      svg
        use(xlink:href="assets/img/sprite.svg#vk")
  li.social-icons__item
    //- a(href='https://github.com/Odinokun' target="_blank" rel="nofollow noopener noreferrer").social-icons__link.git
      svg
        use(xlink:href="assets/img/sprite.svg#github")
  li.social-icons__item
    //- a(href='https://www.linkedin.com/in/dmytro-gordiienko' target="_blank" rel="nofollow noopener noreferrer").social-icons__link.in
      svg
        use(xlink:href="assets/img/sprite.svg#in")