ul.social-icons__list
  li.social-icons__item
    a(href='https://vk.com/odinokun' target="_blank" rel="nofollow noopener noreferrer").social-icons__link.vk VK
      svg
        use(xlink:href="assets/img/sprite.svg#vk")
  li.social-icons__item
    a(href='https://github.com/Odinokun' target="_blank" rel="nofollow noopener noreferrer").social-icons__link.git GitHub
      svg
        use(xlink:href="assets/img/sprite.svg#github")
  li.social-icons__item
    a(href='https://www.linkedin.com/in/dmytro-gordiienko' target="_blank" rel="nofollow noopener noreferrer").social-icons__link.in LinkedIn
      svg
        use(xlink:href="assets/img/sprite.svg#in")