.welcome {
  .page-footer {
    // opacity: .85;
    // opacity: .1;
    text-align: center;
    // background-color: $brand-hov;
  }
  .copyright {
    display: inline-block;
    max-width: 1200px;
    padding: 40px 10px;
    color: $t-light;

    @include roboto(light);
    @include font-size(16px);
    span {
      position: relative;
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
        &:after {
          display: none;
        }
      }
      &:after {
        position: absolute;
        // top: 0;
        bottom: 2px;
        right: -11px;
        display: block;
        width: 2px;
        height: 14px;
        margin: 0 4px;
        // margin: auto;
        content: '';
        opacity: .7;
        background-color: $t-light;
      }
    }
  }
}
