.page-header__wrap {
  position: relative;
}
.page-header__wrap.blog {
  .page-header .container {
    min-height: 400px;
  }
}
.page-header__wrap.about {
  .page-header .container {
    min-height: 550px;
  }
}
.page-header__wrap.works {
  .page-header .container {
    min-height: 780px;
  }
  .triangle {
    position: relative;
    top: -180px;
  }
  .svg-triangle polygon {
    fill: rgba(0,0,0,.7);
  }
  .arr-down {
    bottom: 240px;
  }
}
.page-header {
  position: relative;
  text-align: center;
  background: #223b65 url('../img/bg-welcome.jpg') 50% 100%/cover no-repeat;
  .container {
    padding: 30px 20px;
  }
}
.page-header__top {
  .social-icons__list {
    float: left;
  }
  .social-icons__link {
    svg {
      fill: #fff;
      &:hover {
        fill: $brand;
      }
    }
  }
}
.page-header__ava {
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  display: inline-block;
  overflow: hidden;
  width: 140px;
  height: 140px;
  margin: auto;
  border-radius: 50%;
  img {
    position: absolute;
    top: -0;
    left: -50px;
    width: 200%;
  }
}
.top-menu {
  float: right;
  .top-menu__icon {
    width: 40px;
    height: 35px;
    cursor: pointer;
    background: transparent url('../img/top-menu__icon.png') left top no-repeat;
  }
}

.triangle__wrapper {
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;
  width: 100%;
}
.triangle__wrapper:after {
  display: table;
  clear: both;
  content: '';
}

.triangle__item {
  width: 50%;
}
.triangle__item:nth-child(1) {
  float: left;
}
.triangle__item:nth-child(2) {
  float: right;
}
.svg-triangle {
  width: 100%;
  height: 150px;
}
.svg-triangle polygon {
  fill: #faf8f0;
}
.page-header__title--wrap {
  position: absolute;
  top: 260px;
  right: 0;
  left: 0;
  text-align: center;
}
.page-header__title {
  line-height: 1;
  text-transform: uppercase;
  color: #fff;

  @include font-size(63px);
  @include sansus(regular);
}
.page-header__subtitle {
  opacity: .8;
  color: #fff;

  @include font-size(16px);
  @include roboto(regular);
}
.arr-down {
  position: absolute;
  right: 0;
  bottom: 60px;
  left: 0;
  width: 26px;
  height: 20px;
  margin: auto;
  svg {
    width: 100%;
    height: 20px;
    transition: .5s;

    fill: #cbcace;
  }
  &:hover svg {
    transition: .5s;

    fill: $brand;
  }
}
.arr-down__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
}
