.social-icons__list {
  display: inline-block;
  margin: 0;
  padding: 0;
  @include clearfix;
}
.social-icons__item {
  display: block;
  list-style: none;
  float: left;
}
.social-icons__link {
  margin: 0 13px;
  display: block;
  width: 30px;
  height: 25px;
  &:hover {
    svg {
    fill: $brand;
    }
  }
  svg {
    width: 100%;
    height: 100%;
      fill: $brand-dark;
  }
}
