extends ../_template

block variables
  - var title = 'Odinokun'

block content
  section.wrapper.welcome
    section.content
      div.welcome-banner
        include ../common/_my-card
        include ../common/_social-icons

    include ../common/_footer
