extends ../_template

block variables
  - var title = 'Odinokun'

block content
  section.wrapper.welcome
    section.container.welcome-container
      button.welcome-btn Авторизоваться

      .welcome-banner__wrap
        .welcome-banner
          include ../common/_my-card
          include ../common/_social-icons
          ul.welcome-banner__list
            li.welcome-banner__item.welcome-banner__item--work
              a(href="#").welcome-banner__link Мои работы
            li.welcome-banner__item.welcome-banner__item--about
              a(href="/about.html").welcome-banner__link Обо мне
            li.welcome-banner__item.welcome-banner__item--blog
              a(href="/blog.html").welcome-banner__link Блог

        .welcome-form
          h2.welcome-form__title Авторизуйтесь
          form(action="")
            fieldset.welcome-form__fieldset.input
              .welcome-form__input--wrap
                input.welcome-form__input.login(type="text", placeholder="Логин")
              .welcome-form__input--wrap
                input.welcome-form__input.password(type="password", placeholder="Пароль")

            fieldset.welcome-form__fieldset.checkbox
              input(type="checkbox").welcome-form__checkbox#human
              label(for="human").welcome-form__checkbox--label Я человек

            fieldset.welcome-form__fieldset.radio
              legend.welcome-form__legend Вы точно не робот?
              input(type="radio" name="urobot").welcome-form__radio#robot-yes
              label(for="robot-yes").welcome-form__radio--label Да
              input(type="radio" name="urobot").welcome-form__radio#robot-no
              label(for="robot-no").welcome-form__radio--label Не уверен
          ul.welcome-form__list
            li.welcome-form__item
              a(href="index.html").welcome-form__link На главную
            li.welcome-form__item
              a(href="#").welcome-form__link Войти




    footer.welcome-footer
      .copyright
        span &#169; Дмитрий Гордиенко
        span создано с любовью в LoftSchool
        span 2016
