extends ../_template

block variables
  - var title = 'Odinokun'

block content
  section.wrapper.welcome
    div.content
      section.container
        button.welcome-btn Авторизоваться
      div.welcome-banner
        include ../common/_my-card
        include ../common/_social-icons
        ul.welcome-banner__list
          li.welcome-banner__item.welcome-banner__item--work
            a(href="#").welcome-banner__link Мои работы
          li.welcome-banner__item.welcome-banner__item--about
            a(href="#").welcome-banner__link Обо мне
          li.welcome-banner__item.welcome-banner__item--blog
            a(href="#").welcome-banner__link Блог

    include ../common/_footer
